* {
  background-color: honeydew;
  color: darkslategray;
  font-family: sans-serif;
}

h1 {
  font-weight: 300;
  font-size: xx-large;
}

h2 {
  font-weight: 300;
  font-size: x-large;
}

.recipe-img {
  max-width: 100%;
  width: auto;
  max-height: 700px;
}